<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166595071-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166595071-1');
</script>
    <script data-ad-client="ca-pub-4180081659599558" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- UIkit CSS 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/css/uikit.min.css" />

<!-- UIkit JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit-icons.min.js"></script> 
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="../../cmds.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="icon" href="https://cdn.discordapp.com/avatars/512712219398766613/affd41944272e88844098ed99431dc03.png?size=1024">
    <meta name="description" content="Ezex is a multi-purpose bot ready to skill up and boost up your Discord server
                                      Also features moderation, Fun and much more!">
<meta name="theme-color" content="#AB8700">
    <meta property="og:image" content=".com/attachments/814047283896909844/817095756640550972/PicsArt_03-02-04.08.06.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="1200">

<style>
@import url("https://fonts.googleapis.com/earlyaccess/notokufiarabic.css");button.btn{padding-left:37.5pt !important;}button.btn{padding-bottom:7.5pt !important;}[class~=alert-box]{padding-left:11.25pt;}[class~=alert-box]{padding-bottom:11.25pt;}button.btn{padding-right:37.5pt !important;}[class~=heading] [class~=title],[class~=features] [class~=title]{font-size:2.5pc !important;}[class~=alert-box]{padding-right:11.25pt;}button.btn:hover{cursor:pointer !important;}[class~=heading] [class~=title]{color:#f1f6ff !important;}button.btn{padding-top:7.5pt !important;}[class~=alert-box]{padding-top:11.25pt;}[class~=heading] [class~=title]{line-height:4.375pc !important;}button.btn{border-radius:.3125pc !important;}body{background-color:#282828;}button.btn{margin-top:.416666667in !important;}button.btn{font-family:"Noto Kufi Arabic",sans-serif;}[class~=alert-box]{margin-bottom:15pt;}[class~=alert-box]{border-left-width:.75pt;}[class~=alert-box]{border-bottom-width:.75pt;}button.btn{font-size:12pt !important;}[class~=alert-box]{border-right-width:.75pt;}body{font-family:"Poppins",sans-serif !important;}[class~=alert-box]{border-top-width:.75pt;}button.btn{transition:ease-in .3s !important;}[class~=alert-box]{border-left-style:solid;}[class~=alert-box]{border-bottom-style:solid;}[class~=alert-box]{border-right-style:solid;}[class~=alert-box]{border-top-style:solid;}button.btn{box-shadow:.0625pc .625pc .9375pc #212326;}[class~=alert-box]{border-left-color:transparent;}button.btn{margin-right:.052083333in !important;}button.btn{margin-left:.3125pc !important;}[class~=alert-box]{border-bottom-color:transparent;}button.btn{border-left-width:.010416667in !important;}[class~=alert-box]{border-right-color:transparent;}[class~=alert-box]{border-top-color:transparent;}button.btn{border-bottom-width:.010416667in !important;}button.btn{border-right-width:.010416667in !important;}.nav-link:hover{color:#3e65da;}button.btn{border-top-width:.010416667in !important;}button.btn{border-left-style:solid !important;}button.btn{border-bottom-style:solid !important;}[class~=alert-box]{border-image:none;}button.btn{border-right-style:solid !important;}button.btn:hover{transform:translateY(-3px) !important;}[class~=alert-box]{border-radius:3pt;}button.btn{border-top-style:solid !important;}button.btn{border-left-color:transparent !important;}button.btn{border-bottom-color:transparent !important;}[class~=success]{color:#3c763d;}.nav-link:hover{transition:all ease-out .2999s;}[class~=success]{background-color:#dff0d8;}[class~=success]{border-left-color:#d6e9c6;}[class~=success]{border-bottom-color:#d6e9c6;}button.btn{border-right-color:transparent !important;}button.btn{border-top-color:transparent !important;}[class~=success]{border-right-color:#d6e9c6;}[class~=success]{border-top-color:#d6e9c6;}[class~=success]{display:none;}[class~=features] [class~=title]{color:#f1f6ff !important;}[class~=heading]{padding-left:37.5pt !important;}button.btn{border-image:none !important;}button:active,button:hover,button:focus{outline:none !important;}[class~=heading]{padding-bottom:210pt !important;}[class~=heading]{padding-right:37.5pt !important;}*{box-sizing:border-box;}.footer a{color:#1e212c !important;}.footer a{text-decoration:none !important;}[class~=heading]{padding-top:210pt !important;}button.btn:hover{transform-style:preserve-3d;}[class~=navbar]{background-color:transparent;}[class~=navbar]{border-radius:0px;}button.btn:hover{transform-origin:top;}[class~=navbar]{padding-top:12pt;}[class~=features] [class~=title]{line-height:70px !important;}.footer a{font-weight:bold !important;}.switch input{opacity:0;}[class~=navbar]{padding-left:22.4px;}button.btn:hover{opacity:.9 !important;}.switch input{width:0;}[class~=nav-link]{color:white;}[class~=nav-item]{padding-right:16px;}[class~=start],[class~=footer],.features{text-align:center !important;}.features{background:linear-gradient(to right,#6c4ef6 50%,#7f2bef 50%);}.features{padding-left:3.125pc !important;}[class~=start],.features,[class~=card]{padding-bottom:.625in !important;}.features{padding-right:3.125pc !important;}button[class~=btn][class~=primary]{background-color:#36393f !important;}.features,[class~=start],[class~=card]{padding-top:.625in !important;}.switch input{height:0;}[class~=card]{padding-left:1.25pc !important;}[class~=features] [class~=subtitle]{font-size:1.25pc !important;}[class~=slider]:before{position:absolute;}[class~=card]{padding-right:1.25pc !important;}[class~=card]{background:#3e65da !important;}#sssesesesesee:hover{color:#a5a5a5;}[class~=card]{margin-top:2.5pc !important;}[class~=card]{margin-bottom:2.5pc !important;}[class~=features] [class~=subtitle]{color:#d0d7ee;}[class~=card]{border-radius:5px !important;}#guild-icon:hover{border-radius:0;}[class~=start]{background:linear-gradient(to right,rgba(27,23,54,.87) 0%,rgba(33,37,80,.91) 100%);}[class~=start]{padding-left:.520833333in !important;}::-webkit-scrollbar{width:1.6666px;}[class~=slider]:before{content:"";}[class~=card] [class~=title]{font-size:22.5pt !important;}[class~=start]{padding-right:.520833333in !important;}[class~=footer]{padding-left:.375pc !important;}[class~=slider]:before{height:1.625pc;}[class~=footer]{padding-bottom:3.75pt !important;}[class~=card] [class~=title],button[class~=btn][class~=primary]{color:#3e65da !important;}[class~=footer]{padding-right:.375pc !important;}button[class~=btn][class~=secondary]{background-color:#3e65da;}[class~=slider]:before{width:1.625pc;}[class~=slider]:before{left:4px;}[class~=footer]{padding-top:3.75pt !important;}[class~=footer]{color:#ecf2ff;}[class~=footer]{font-size:10.5pt !important;}[class~=slider]:before{bottom:4px;}[class~=guild-icon]{border-radius:50%;}[class~=guild-icon1],[class~=guild-icon]{box-shadow:0 .0625pc .104166667in 0 rgba(0,0,0,.2),0 3.75pt 20px 0 rgba(0,0,0,.22) !important;}.switch{position:relative;}.switch{display:inline-block;}[class~=slider]:before{background-color:white;}.switch{width:45pt;}.switch{height:.354166667in;}[class~=slider],[class~=slider]:before{-webkit-transition:.4s;}[class~=slider],[class~=slider]:before{transition:.4s;}[class~=slider]{position:absolute;}[class~=tab] button{background-color:inherit;}[class~=slider]{cursor:pointer;}[class~=slider]{top:0;}[class~=slider]{left:0;}[class~=slider]{right:0;}button{outline:none !important;}[class~=slider]{bottom:0;}[class~=tab] button{text-align:center;}[class~=slider]{background-color:#ccc;}::-webkit-scrollbar-track{background:#0f0f0f;}[class~=guild-icon]{display:table;}input:checked + [class~=slider]:before{-webkit-transform:translateX(26px);}[class~=tab] button,[class~=button-invite]{border-left-width:medium;}[class~=guild-icon]{float:left;}[class~=guild-icon]{margin-left:.166666667in;}[class~=guild-icon]{margin-bottom:14.4pt;}[class~=header-title]{font-weight:bold;}[class~=button-invite]{border-radius:.125in;}button[class~=btn][class~=secondary]{color:#3e65da;}input:checked + [class~=slider]{background-color:#22bf41;}[class~=button-invite]{background:#be2927;}[class~=button-invite]{background:linear-gradient(90deg,rgba(190,41,39,1) 8%,rgba(255,0,66,1) 100%);}[class~=tab] button{border-bottom-width:.75pt;}[class~=button-invite]{border-bottom-width:medium;}[class~=button-invite],[class~=tab] button{border-right-width:medium;}[class~=tab] button,[class~=button-invite]{border-top-width:medium;}[class~=button-invite],[class~=tab] button{border-left-style:none;}input:focus + [class~=slider]{}[class~=tab] button{border-bottom-style:solid;}[class~=button-invite]{border-bottom-style:none;}[class~=button-invite],[class~=tab] button{border-right-style:none;}[class~=tab] button,[class~=button-invite]{border-top-style:none;}[class~=button-invite],[class~=tab] button{border-left-color:currentColor;}[class~=tab] button{border-bottom-color:#ab8700;}[class~=button-invite],[class~=tab] button{border-right-color:currentColor;}[class~=button-invite]{border-bottom-color:currentColor;}[class~=button-invite],[class~=tab] button{border-top-color:currentColor;}option{background-color:#1e212c;}[class~=button-invite],[class~=tab] button{border-image:none;}[class~=slider][class~=round]:before{border-radius:50%;}[class~=tab] button{outline:none;}[class~=tab] button:hover{border-top-left-radius:12px;}[class~=button-invite]{padding-left:.052083333in;}[class~=button-invite]{padding-bottom:.052083333in;}.card .subtitle{font-size:15px !important;}[class~=button-invite]{padding-right:.052083333in;}[class~=button-invite]{padding-top:.052083333in;}[class~=tab] button{cursor:pointer;}[class~=button-invite]{width:112.5pt;}[class~=button-invite],[class~=tab] button{color:white;}[class~=tab] button{padding-left:16px;}[class~=tab] button{padding-bottom:.875pc;}[class~=jumbotron]{height:4.166666667in;}[class~=tab] button{padding-right:16px;}#sssesesesesee{color:#868686;}[class~=uk-subnav]{text-transform:capitalize;}[class~=tab] button{padding-top:.875pc;}[class~=tab] button{width:15%;}::-webkit-scrollbar-thumb:hover{background:#a10608;}[class~=tab] button{margin-left:.166666667in;}[class~=desc]{font-size:17px;}[class~=desc]{color:grey;}[class~=tab] button:hover{border-top-right-radius:9pt;}input:checked + [class~=slider]:before{-ms-transform:translateX(26px);}[class~=tab] button{margin-bottom:.166666667in;}[class~=desc]{margin-left:.625pc;}[class~=tab]{overflow:hidden;}[class~=tab]{width:100%;}[class~=tab]{margin-bottom:12pt;}[class~=tab] button{margin-right:.166666667in;}[class~=tab] button:hover,[class~=tab] button[class~=active]{background-color:#323332;}.card .subtitle{color:#3e65da;}[class~=tabcontent]{display:none;}[class~=tab] button{margin-top:.166666667in;}::-webkit-scrollbar-thumb{background:#ff0002;}[class~=tabcontent]{padding-left:.125in;}[class~=tabcontent]{padding-bottom:.375pc;}[class~=tab] button[class~=active],[class~=tab] button:hover{transition:all ease-out .111s;}[class~=tab] button[class~=active]{border-radius:9pt;}[class~=tabcontent]{padding-right:.125in;}[class~=tabcontent]{padding-top:.375pc;}[class~=tabcontent]{border-top-width:medium;}[class~=tabcontent]{border-top-style:none;}[class~=tabcontent]{border-top-color:currentColor;}[class~=start] [class~=card]{background:rgba(96,100,166,.41) !important;}[class~=tabcontent]{border-image:none;}code{background-color:#353842;}[class~=slider][class~=round]{border-radius:.354166667in;}#sssesesesesee{text-decoration:none;}[class~=tab] button[class~=active]{border-bottom-width:0pt;}[class~=tab] button[class~=active]{border-bottom-style:none;}[class~=tab] button[class~=active]{border-bottom-color:currentColor;}[class~=tab] button[class~=active]{border-image:none;}input:checked + [class~=slider]:before{transform:translateX(26px);}::-webkit-scrollbar-thumb{border-radius:1.5625pc;}@media only screen and (max-width: 768px){[class~=tab]{overflow:hidden;}[class~=tab]{width:100%;}[class~=tab] button{background-color:inherit;}[class~=tab] button{text-align:center;}[class~=tab] button{border-left-width:medium;}[class~=tab] button{border-bottom-width:.0625pc;}[class~=tab] button:hover{border-top-left-radius:12px;}[class~=tab] button{border-right-width:medium;}[class~=tab] button:hover{border-top-right-radius:.75pc;}[class~=tabcontent],[class~=tab] button{border-top-width:medium;}.tab button.active,[class~=tab] button:hover{background-color:#323332;}[class~=tab] button:hover,.tab button.active{transition:all ease-out .111s;}[class~=tab] button{border-left-style:none;}[class~=tab] button{border-bottom-style:solid;}[class~=tab]{margin-bottom:.166666667in;}[class~=tab] button{border-right-style:none;}.tab button.active{border-radius:.125in;}[class~=tabcontent]{display:none;}[class~=tab] button,[class~=tabcontent]{border-top-style:none;}.tab button.active{border-bottom-width:0pt;}[class~=tabcontent]{padding-left:.125in;}[class~=tab] button{border-left-color:currentColor;}[class~=tab] button{border-bottom-color:#ff0002;}[class~=tabcontent]{padding-bottom:.375pc;}.tab button.active{border-bottom-style:none;}.tab button.active{border-bottom-color:currentColor;}[class~=tab] button{border-right-color:currentColor;}[class~=tabcontent],[class~=tab] button{border-top-color:currentColor;}[class~=tabcontent]{padding-right:.125in;}[class~=tabcontent],[class~=tab] button,.tab button.active{border-image:none;}[class~=tab] button{outline:none;}[class~=tab] button{cursor:pointer;}[class~=tab] button{padding-left:.166666667in;}[class~=tabcontent]{padding-top:.375pc;}[class~=tab] button{padding-bottom:.145833333in;}[class~=tab] button{padding-right:.166666667in;}[class~=tab] button{padding-top:.145833333in;}[class~=tab] button{width:25%;}[class~=tab] button{color:white;}[class~=tab] button{margin-left:.166666667in;}[class~=tab] button{margin-bottom:.166666667in;}[class~=tab] button{margin-right:.166666667in;}[class~=tab] button{margin-top:.166666667in;}}[class~=btn]:focus,textarea{outline:none;}[class~=tab2]{float:right;}[class~=tab2]{border-left-width:.010416667in;}[class~=btn]:focus,textarea,[class~=tab2] button{border-left-width:medium;}[class~=tab2] button{display:block;}textarea,[class~=btn]:focus,[class~=tab2] button{border-bottom-width:medium;}textarea{border-right-width:0pt;}[class~=tab2] button{background-color:inherit;}textarea,[class~=tab2] button{border-top-width:medium;}textarea,[class~=tab2] button{border-left-style:none;}textarea,[class~=tab2] button{border-bottom-style:none;}textarea{border-right-style:none;}textarea{border-top-style:none;}textarea{border-left-color:currentColor;}textarea{border-bottom-color:currentColor;}[class~=tab2]{border-bottom-width:.010416667in;}textarea{border-right-color:currentColor;}[class~=tab2] button{color:white;}textarea{border-top-color:currentColor;}textarea{border-image:none;}input{outline:0;}[class~=tab2] button{padding-left:.166666667in;}input,[class~=tab2]{background:transparent;}[class~=tab2] button{padding-bottom:1.375pc;}[class~=tab2]{border-right-width:.010416667in;}[class~=tab2] button{padding-right:.166666667in;}input{width:50%;}input{border-left-width:0;}[class~=tab2]{border-top-width:.010416667in;}[class~=tab2]{border-left-style:solid;}[class~=tab2],input{border-bottom-style:solid;}[class~=tab2] button{padding-top:1.375pc;}[class~=tab2]{border-right-style:solid;}input{border-bottom-width:.0625pc;}input{border-right-width:0;}input{border-top-width:0;}[class~=tab2]{border-top-style:solid;}input,[class~=btn]:focus{border-left-style:none;}[class~=tab2]{border-left-color:transparent;}[class~=tab2]{border-bottom-color:transparent;}[class~=tab2] button{width:100%;}input,[class~=tab2] button{border-right-style:none;}input,[class~=tab2] button{border-top-style:none;}input{border-left-color:currentColor;}input{border-bottom-color:#ff0002;}[class~=tab2] button,[class~=btn]:focus{border-right-width:medium;}input{border-right-color:currentColor;}input{border-top-color:currentColor;}[class~=tab2]{border-right-color:transparent;}input{border-image:none;}input{margin-left:0;}input{margin-bottom:.9375pc;}input{margin-right:0;}[class~=tab2]{border-top-color:transparent;}[class~=tab2]{border-image:none;}[class~=btn]:focus{border-top-width:medium;}input{margin-top:0;}input{padding-left:11.25pt;}input{padding-bottom:11.25pt;}input{padding-right:11.25pt;}[class~=tab2]{width:30%;}[class~=tab2]{min-height:370px;}input{padding-top:11.25pt;}input{box-sizing:border-box;}[class~=tab2]{margin-bottom:100px;}[class~=tab2]{box-shadow:0 .041666667in .083333333in 0 rgba(0,0,0,.2);}input{font-size:.166666667in;}input{border-radius:.005208333in;}[class~=btn]:focus{border-bottom-style:none;}input{color:white;}[class~=tab2] button:hover,[class~=tab3]{background-color:#141618;}select{outline:0;}[class~=tabcontent2]{margin-top:135pt;}select{background:transparent;}select{width:50%;}select{border-left-width:0;}[class~=tabcontent2]{text-align:center;}select{border-bottom-width:.75pt;}[class~=tabcontent2]{padding-left:9pt;}[class~=tabcontent2]{padding-bottom:0pc;}select{border-right-width:0;}select{border-top-width:0;}[class~=tabcontent2],select{border-left-style:none;}select{border-bottom-style:solid;}select,[class~=btn]:focus{border-right-style:none;}[class~=tabcontent2]{padding-right:9pt;}[class~=btn]:focus,select{border-top-style:none;}[class~=tabcontent2],[class~=btn]:focus,[class~=tab2] button,select{border-left-color:currentColor;}[class~=tabcontent2]{padding-top:0pc;}[class~=tabcontent2]{width:70%;}[class~=tabcontent2]{border-left-width:medium;}[class~=btn]:focus,[class~=tab2] button{border-bottom-color:currentColor;}[class~=tab2] button,select{border-right-color:currentColor;}select{border-bottom-color:#ff0002;}[class~=tabcontent2]{border-image:none;}[class~=tab2] button,select{border-top-color:currentColor;}[class~=tab2] button,select{border-image:none;}select{margin-left:0;}select{margin-bottom:.15625in;}select{margin-right:0;}select{margin-top:0;}select{padding-left:.15625in;}select{padding-bottom:.15625in;}select{padding-right:.15625in;}[class~=tabcontent2]{height:600pt;}textarea,[class~=btn]:focus{border-right-color:currentColor;}[class~=tab2] button{outline:none;}textarea,select{padding-top:.15625in;}textarea,select{box-sizing:border-box;}textarea,[class~=btn]:focus{border-top-color:currentColor;}[class~=tabcontent2],[class~=none-display]{display:none;}[class~=tab2] button{text-align:left;}[class~=btn]:focus{border-image:none;}textarea,select{font-size:1pc;}input:focus,[class~=tabcontent2],select,textarea{color:white;}[class~=tab2] button{cursor:pointer;}select,textarea{border-radius:.375pt;}textarea{outline:0;}[class~=tab2] button{transition:.3s;}textarea{background:transparent;}textarea{width:50%;}.uk-notification{background:transparent !important;}textarea{border-left-width:0;}input:focus,textarea{border-bottom-width:.010416667in;}[class~=tab2] button{font-size:15pt;}textarea{border-right-width:0;}[class~=card1]{box-shadow:0 4px 6pt 0 rgba(0,0,0,.2);}[class~=card1]{max-width:750pt;}[class~=card1]{margin-left:auto;}textarea{border-top-width:0;}textarea{border-left-style:none;}input:focus,textarea{border-bottom-style:solid;}[class~=tab2] button{margin-top:10px;}textarea{border-right-style:none;}textarea{border-top-style:none;}textarea{border-left-color:currentColor;}[class~=card1]{margin-bottom:auto;}input:focus,textarea{border-bottom-color:#ff0002;}input:focus,textarea{border-image:none;}[class~=card1]{margin-right:auto;}textarea{margin-left:0;}textarea{margin-bottom:15px;}textarea{margin-right:0;}textarea{margin-top:0;}textarea{padding-left:.15625in;}[class~=card1]{margin-top:auto;}textarea{padding-bottom:.15625in;}textarea{padding-right:.15625in;}[class~=card1]{text-align:center;}[class~=card1]{font-family:arial;}option{border-radius:9pt;}option{padding-left:.125in;}input:disabled{opacity:.5;}[class~=owner-img]{width:8pc;}input:disabled{border-bottom-width:.75pt;}input:disabled{border-bottom-style:solid;}[class~=owner-img]{height:128px;}input:disabled{border-bottom-color:#ff0002;}input:disabled{border-image:none;}[class~=owner-text]{font-size:26.25pt;}[class~=owner-status]{position:absolute;}select:focus,textarea:focus,input:disabled{color:white;}[class~=owner-status]{right:130px;}[class~=owner-status]{top:6.25pc;}[class~=owner-status]{width:18.75pt;}select:focus{border-bottom-width:.010416667in;}select:focus{border-bottom-style:solid;}select:focus{border-bottom-color:#ff0002;}select:focus{border-image:none;}textarea:focus,select:focus{outline:0;}[class~=owner-status]{display:block;}[class~=col-sm-4]{margin-bottom:3.333333333in;}textarea:focus{border-bottom-width:.0625pc;}textarea:focus{border-bottom-style:solid;}textarea:focus{border-bottom-color:#ff0002;}textarea:focus{border-image:none;}@media only screen and (max-width: 768px){[class~=guild-name]{font-size:20px;}[class~=server-details]{font-size:11.46pt;}.owner-img{width:4.5pc;}.owner-img{height:.75in;}[class~=owner-text]{font-size:.208333333in;}[class~=owner-status]{position:absolute;}[class~=owner-status]{right:161.25pt;}#features{margin-top:75pt;}[class~=owner-status]{top:55px;}[class~=owner-status]{width:11.25pt;}[class~=owner-status]{display:none;}[class~=col-sm-4]{margin-bottom:20px;}}@media only screen and (max-width: 1200px){[class~=owner-status]{position:absolute;}[class~=owner-status]{right:215px;}[class~=owner-status]{top:41.25pt;}[class~=owner-status]{width:.9375pc;}[class~=owner-status]{display:none;}}[class~=invite-btn]:hover{background-color:#ff0002;}[class~=server-details]{font-size:px;}.user-info{display:inline-block;}[class~=invite-btn]:hover,.user-info,[class~=invite-btn]{color:white;}.user-info{width:100%;}.user-info,[class~=prime-servers]{border-radius:12px;}.user-info{margin-top:1pc;}.user-info{box-shadow:0 .020833333in .041666667in 0 rgba(0,0,0,.2),0 3pt 16px 0 rgba(0,0,0,.19);}[class~=prime-servers]{background-image:url("https://cdn.discordapp.com/attachments/722578466335359096/728016280216666132/4.2.png");}[class~=prime-servers]{background-repeat:no-repeat;}[class~=prime-servers]{height:6.25pc;}[class~=prime-servers]{background-position:center;}[class~=user-info] code,.prime-servers code{background:transparent;}[class~=prime-servers]{background-size:cover;}[class~=invite-btn]{background-color:transparent;}[class~=invite-btn]{border-left-width:.75pt;}[class~=invite-btn]{border-bottom-width:.75pt;}[class~=invite-btn]{border-right-width:.75pt;}[class~=invite-btn]:hover{text-decoration:none;}[class~=invite-btn]{border-top-width:.75pt;}[class~=invite-btn]{border-left-style:solid;}.adv-title:hover{color:#d3d3d3;}[class~=invite-btn]{border-bottom-style:solid;}[class~=invite-btn]{border-right-style:solid;}[class~=invite-btn]{border-top-style:solid;}[class~=invite-btn]{border-left-color:#ff0002;}[class~=invite-btn]{border-bottom-color:#ff0002;}[class~=invite-btn]{border-right-color:#ff0002;}[class~=invite-btn]{border-top-color:#ff0002;}[class~=invite-btn]{border-image:none;}[class~=invite-btn]{padding-left:.291666667in;}[class~=invite-btn]{padding-bottom:.75pc;}[class~=invite-btn]{padding-right:.291666667in;}[class~=invite-btn]{padding-top:.75pc;}[class~=invite-btn]{font-size:.166666667in;}[class~=invite-btn]{transition:.3s;}[class~=invite-btn]{border-radius:.0625in;}[class~=invite-btn]{margin-right:12pt;}[class~=adv-item]{margin-bottom:75px;}.adv-title:hover{transition:.5s;}[class~=adv-item],.adv-img{height:auto;}[class~=adv-item]{width:auto;}[class~=login-btn]:hover{background:#dabb0f !important;}[class~=adv-item]{margin-right:96.75pt;}[class~=adv-item]{margin-left:1.34375in;}[class~=login-btn]:active{background:#333 !important;}.adv-title{margin-top:2.8125pc;}.adv-title{color:whitesmoke;}.adv-title{font-weight:bold;}[class~=adv-desc]{color:gainsboro;}[class~=adv-desc]{opacity:.5;}.adv-img{max-width:300px;}.adv-img,[class~=save-button]{border-radius:6pt;}[class~=save-button],[class~=save-button]:hover{color:#fff !important;}.adv-img,[class~=save-button]{margin-top:15px;}.adv-img{margin-bottom:11.25pt;}[class~=owner-img]{position:relative;}[class~=owner-img]{box-shadow:0 .041666667in .083333333in 0 rgba(0,0,0,.2),0 .375pc .208333333in 0 rgba(0,0,0,.19);}[class~=login-btn],[class~=save-button]:hover{border-left-width:.125pc !important;}[class~=save-button]:hover,[class~=login-btn]{border-bottom-width:.125pc !important;}[class~=save-button]:hover,[class~=login-btn]{border-right-width:.125pc !important;}[class~=login-btn],[class~=save-button]:hover{border-top-width:.125pc !important;}[class~=login-btn]{border-left-style:solid !important;}[class~=login-btn]{border-bottom-style:solid !important;}[class~=save-button]:hover{background:#ff0002;}[class~=login-btn]{border-right-style:solid !important;}[class~=login-btn]{border-top-style:solid !important;}[class~=login-btn]{border-left-color:#dabb0f !important;}[class~=login-btn]{border-bottom-color:#dabb0f !important;}[class~=login-btn]{border-right-color:#dabb0f !important;}[class~=login-btn]{border-top-color:#dabb0f !important;}[class~=login-btn]{border-image:none !important;}[class~=login-btn]{font-size:7.5pt !important;}[class~=save-button]{text-transform:uppercase;}[class~=save-button]{text-decoration:none;}[class~=save-button]{background:transparent;}[class~=save-button]{padding-left:.208333333in;}[class~=save-button]{padding-bottom:.625pc;}[class~=save-button]{padding-right:.208333333in;}[class~=save-button]{padding-top:7.5pt;}[class~=save-button]{border-left-width:.125pc !important;}[class~=save-button]{border-bottom-width:.125pc !important;}[class~=save-button]{border-right-width:.125pc !important;}[class~=save-button]{border-top-width:.125pc !important;}[class~=save-button],[class~=save-button]:hover{border-left-style:solid !important;}[class~=save-button],[class~=save-button]:hover{border-bottom-style:solid !important;}[class~=save-button]{border-right-style:solid !important;}[class~=save-button]{border-top-style:solid !important;}[class~=save-button]{border-left-color:#ff0002 !important;}[class~=save-button]{border-bottom-color:#ff0002 !important;}[class~=save-button]{border-right-color:#ff0002 !important;}[class~=save-button]{border-top-color:#ff0002 !important;}[class~=save-button]{border-image:none !important;}[class~=save-button]{transition:all .4s ease 0s;}[class~=card-server]{padding-top:7.5pt;}[class~=card-server]{padding-right:1.875pc;}[class~=card-server]{padding-left:.3125in;}[class~=card-server]{padding-bottom:.625pc;}[class~=card-server],.card-dashboard{background:#202020;}[class~=card-server]{border-radius:5px;}[class~=card-server]{border-left-width:.0625pc;}[class~=card-server]{border-bottom-width:.0625pc;}[class~=card-server]{border-right-width:.0625pc;}[class~=card-server]{border-top-width:.0625pc;}[class~=card-server]{border-left-style:solid;}[class~=card-server]{border-bottom-style:solid;}[class~=card-server]{border-right-style:solid;}[class~=card-server]{border-top-style:solid;}[class~=card-server]{border-left-color:#000;}[class~=card-server]{border-bottom-color:#000;}[class~=card-server]{border-right-color:#000;}[class~=card-server]{border-top-color:#000;}[class~=card-server]{border-image:none;}.card-dashboard{height:39%;}.card-dashboard{width:17rem;}.card-dashboard,[class~=partner]{display:inline-block;}.card-dashboard{margin-left:.104166667in;}.card-dashboard{margin-bottom:.104166667in;}.card-dashboard{margin-right:.104166667in;}.card-dashboard{margin-top:.104166667in;}.card-dashboard{border-radius:.260416667in;}.card-dashboard{border-left-width:.010416667in;}.card-dashboard{border-bottom-width:.010416667in;}.card-dashboard{border-right-width:.010416667in;}.card-dashboard{border-top-width:.010416667in;}.card-dashboard{border-left-style:solid;}.card-dashboard{border-bottom-style:solid;}.card-dashboard{border-right-style:solid;}.card-dashboard{border-top-style:solid;}.card-dashboard{border-left-color:#000;}.card-dashboard{border-bottom-color:#000;}.card-dashboard{border-right-color:#000;}.card-dashboard{border-top-color:#000;}.card-dashboard{border-image:none;}[class~=save-button]:hover{border-right-style:solid !important;}.card-dashboard{overflow:hidden;}.card-dashboard{white-space:nowrap;}.card-dashboard{text-overflow:ellipsis;}[class~=card-hr]{background:#505050;}[class~=card-hr]{margin-top:30px;}[class~=card-hr],[class~=banner-image]{width:1.5625in;}[class~=partner]{margin-left:1pc;}[class~=save-button]:hover{border-top-style:solid !important;}[class~=partner]{margin-bottom:1pc;}[class~=save-button]:hover{border-left-color:#ff0002 !important;}[class~=partner]{margin-right:1pc;}[class~=partner]{margin-top:1pc;}[class~=banner]{float:left;}[class~=banner]{color:white;}[class~=banner]{margin-left:.5in;}[class~=banner]{margin-top:.333333333in;}[class~=save-button]:hover{border-bottom-color:#ff0002 !important;}[class~=save-button]:hover{border-right-color:#ff0002 !important;}[class~=save-button]:hover{border-top-color:#ff0002 !important;}[class~=save-button]:hover{border-image:none !important;}[class~=save-button]:hover{transition:all .4s ease 0s;}[class~=dropdown-item]:active{background-color:grey;}@media only screen and (max-width: 768px){[class~=banner-image]{width:5pc;}}#one [class~=inner]{margin-bottom:2em;}#one [class~=flex-item][class~=right] div:first-child,#one [class~=flex-item][class~=left] div:first-child{padding-top:1em;}#one [class~=flex-item]{display:-ms-flexbox;}#one [class~=flex-item][class~=left] div:last-child,#one [class~=flex-item][class~=right] div:last-child{-moz-align-self:-moz-flex-end;}#one [class~=flex-item][class~=left] div:last-child,#one [class~=flex-item][class~=right] div:last-child{-webkit-align-self:-webkit-flex-end;}#one [class~=flex-item][class~=left] div p,#one [class~=flex-item][class~=right] div p{margin-bottom:1em;}#one [class~=flex-item]{display:-moz-flex;}#one [class~=flex-item]{display:-webkit-flex;}#one [class~=flex-item][class~=right] div:last-child,#one [class~=flex-item][class~=left] div:last-child{-ms-align-self:-ms-flex-end;}#one [class~=flex-item][class~=right] div:last-child,#one [class~=flex-item][class~=left] div:last-child{align-self:flex-end;}#one [class~=flex-item]{display:-ms-flex;}#one [class~=flex-item]{display:flex;}#one [class~=flex-item],#one [class~=flex-item]{-ms-flex-wrap:wrap;}#one [class~=flex-item]{-ms-flex-pack:justify;}#one [class~=flex-item]{-moz-flex-wrap:wrap;}#one [class~=flex-item]{-webkit-flex-wrap:wrap;}#one [class~=flex-item]{flex-wrap:wrap;}#one [class~=flex-item]{-moz-justify-content:space-between;}#one [class~=flex-item]{-webkit-justify-content:space-between;}#one [class~=flex-item]{-ms-justify-content:space-between;}#one [class~=flex-item]{justify-content:space-between;}#one [class~=flex-item]{-moz-align-items:stretch;}#one [class~=flex-item]{-webkit-align-items:stretch;}#one [class~=flex-item]{-ms-align-items:stretch;}#one [class~=flex-item]{align-items:stretch;}@media screen and (max-width: 1280px){#one [class~=flex-item][class~=left] div:first-child,#one [class~=flex-item][class~=right] div:first-child{padding-top:0;}#one .flex-item.right div p,#one [class~=flex-item][class~=left] div p{margin-bottom:0;}}@media screen and (max-width: 980px){#one [class~=flex-item][class~=left] div:first-child,#one [class~=flex-item][class~=right] div:first-child{padding-top:0;}#one [class~=flex-item][class~=left] div:last-child,#one [class~=flex-item][class~=right] div:last-child{-moz-align-self:center;}#one [class~=flex-item][class~=right] div:last-child,#one [class~=flex-item][class~=left] div:last-child{-webkit-align-self:center;}#one [class~=flex-item][class~=left] div:last-child,#one [class~=flex-item][class~=right] div:last-child{-ms-align-self:center;}#one [class~=flex-item][class~=right] div:last-child,#one [class~=flex-item][class~=left] div:last-child{align-self:center;}#one .flex-item{-moz-flex-direction:column;}#one .flex-item{-webkit-flex-direction:column;}#one .flex-item.right br,#one [class~=flex-item][class~=left] br{display:none;}#one .flex-item{-ms-flex-direction:column;}#one .flex-item.left div p,#one [class~=flex-item][class~=right] div p{margin-bottom:2em;}#one .flex-item{flex-direction:column;}#one .flex-item{text-align:center;}}#one [class~=image][class~=fit]{margin-left:auto;}#one [class~=image][class~=fit]{margin-bottom:2em;}#one [class~=image][class~=fit]{margin-right:auto;}#one [class~=image][class~=fit]{margin-top:0;}#one [class~=image][class~=fit]{max-width:60%;}@media screen and (max-width: 980px){#one [class~=image][class~=fit]{margin-left:auto;}#one [class~=image][class~=fit]{margin-bottom:2em;}#one [class~=image][class~=fit]{margin-right:auto;}#one [class~=image][class~=fit]{margin-top:0;}#one [class~=image][class~=fit]{max-width:60%;}#one [class~=image][class~=fit]{-moz-flex-direction:column;}#one [class~=image][class~=fit]{-webkit-flex-direction:column;}#one [class~=image][class~=fit]{-ms-flex-direction:column;}#one [class~=image][class~=fit]{flex-direction:column;}#one [class~=image][class~=fit]{text-align:center;}}@media screen and (max-width: 480px){#one [class~=image][class~=fit]{margin-left:auto;}#one [class~=image][class~=fit]{margin-bottom:2em;}#one [class~=image][class~=fit]{margin-right:auto;}#one [class~=image][class~=fit]{margin-top:0;}#one [class~=image][class~=fit]{max-width:90%;}}</style>
</style><title>Ezex - Commands</title>
    <meta charset="UTF-8">

  </head>
  
  <body>
<nav class="navbar navbar-expand-lg">
  <img class="rounded-circle" style="width: 50px; height: 50px; margin-right: .7rem;" src="https://cdn.discordapp.com/avatars/512712219398766613/affd41944272e88844098ed99431dc03.png?size=1024">
    <i class="fas fa-bars text-white"></i>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/commands">Commands</a>
      </li>

     <li class="nav-item">
        <a class="nav-link" href="/invite"><i class="fas fa-plus"></i> Invite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/support"><i class="fab fa-discord"></i>Discord</a>
      </li>   
      
     
    </ul>
    
    
   
    <ul class="navbar-right" style="margin-right: 2pc;">
      <li class="nav-item" style="list-style-type: none;">
        <a class="nav-link" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
      </li>
    </ul>
      
   
  </div>
</nav>
    
     <div class="tab text-center">
     <button class="tablinks active" onclick="openCity(event, 'General')">General</button>
  <button class="tablinks" onclick="openCity(event, 'Administration')">Moderation</button>
     
     <button class="tablinks" onclick="openCity(event, 'Music')">Music</button>
    
  <button class="tablinks" onclick="openCity(event, 'Giveaway')">Giveaway</button>
  <button class="tablinks" onclick="openCity(event, 'Economy')">Economy</button>
  <button class="tablinks" onclick="openCity(event, 'Settings')">Configure</button>
     
     
  </div>
       
<div class="text-center">
    <h1 class="text-white header-title" style="padding-top: 55px;">Ezex - Commands</h1>
  <p class="text-white">Ezex bot ready to skill up and boost up your Discord server<br/>Also features moderation, Fun and much more!</p>

    </div>
  


<style>
input:focus{
   outline: none;
    border: none;
}

  table, td, th {  
  border: 1px solid #99ccff;
  text-align: left;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  
}
    table {
  float: left;
  border-collapse: collapse;
  max-width: 1200px;
  overflow: hidden;
}

th, td {
  padding: 15px;
  color: white;
  width:600pc;
  font-size: 1.23323pc;
}
    </style>
  <div class="container">
<input  style="background:transparent; color:white" class="form-control" id="myInput" type="text" placeholder="Search.."> 
</div>

<br><br><br>
    <section class="section partners" id="commands">
  
      
  <!--<hr style="background-color: #99ccff; width:50px"><div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> --> <!--#ff0002-->
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active container">
      
      
       <div id="General" class="tabcontent text-center text-white" style="display:block;">
        <table class="text-center table1 card-server" style="margin-bottom: 2pc;">
  <tr>
    <th class="th1" style="font-size: 25px;">General</th>
  </tr>
  <tr>
    <td class="td1">.roles: <span class="desc">Display server's icon/avatar</span>.</td>
    <td class="td1">.avatar: <span class="desc">Shows your avatar image</span>.</td>
  </tr>
  <tr>
    <td class="td1">.user: <span class="desc">Shows user's information</span>.</td>
    <td class="td1">.id: <span class="desc">Shows user's information in a specific guild</span>.</td>
  </tr>
  <tr>
    <td class="td1">.top: <span class="desc">Get the top 5 text & voice of the server.</span>.</td>
    <td class="td1">.server: <span class="desc">Display server's information</span>.</td>  
  </tr>
   <tr>
    <td class="td1">.invite: <span class="desc">Get an invite link to add the bot</span>.</td>
    <td class="td1">.support: <span class="desc">Get an invite link to join the bot's server</span>.</td>  
  </tr>
   <tr>
    <td class="td1">.bot: <span class="desc">Shows the bot informations</span>.</td>
    <td class="td1">.math: <span class="desc">Calculate a equation</span>.</td>
   </tr>
   <tr>
    <td class="td1">.corona: <span class="desc">Shows the corona informations</span>.</td>
    <td class="td1">.weather: <span class="desc">Shows the weather informations</span>.</td>
   </tr>
   <tr>
    <td class="td1">.ping: <span class="desc">Shows the bot ping</span>.</td>
    <td class="td1">.random-avatar: <span class="desc">Get an Random Avatar Users using the bot</span>.</td>
   </tr>
   <tr>
    <td class="td1">.spotify: <span class="desc">Shows the information song user listening spotify</span>.</td>
    <td class="td1">.server: <span class="desc">Shows the server information</span>.</td>
   </tr>
          
</table>    
         </div>
      
      
      <!-- ------------------------------------- -->
       <div id="Administration" class="tabcontent text-center text-white">
        <table class="text-center table1 card-server" style="margin-bottom: 2pc;">
  <tr>
    <th class="th1" style="font-size: 25px;" colspan="2">Moderation</th>
  </tr>
  <tr>
    <td>.addemoji: <span class="desc">Adds Emojis on your server</span>.</td>
    <td>.ban: <span class="desc">Bans a specific user</span>.</td>
  </tr>
  <tr>
    <td>.role: <span class="desc">Give a role to a specific user</span>.</td>
    <td>.kick: <span class="desc">Kicks a specific user</span>.</td>
  </tr>
  <tr>
    <td>.purge: <span class="desc">Clears the channel from messages</span>.</td>
    <td>.mute: <span class="desc">Mutes a specific user</span>.</td>
  </tr>
  <tr>
    <td>.unmute: <span class="desc">Removes the mute from a muted user</span>.</td>
          <td>.vkick: <span class="desc">Kicks a user from voice channel to other one</span>.</td>
  </tr>
  <tr>
    <td>.lock: <span class="desc">Locks the channel</span>.</td>
    <td>.unlock: <span class="desc">Unlocks the channel</span>.</td>
  </tr>
        <tr>
    <td>.show: <span class="desc">Show the channel</span>.</td>
    <td>.hide: <span class="desc">Hide the channel</span>.</td>
  </tr>
          <tr>
    <td>.warn: <span class="desc">Warn a user in the server</span>.</td>
          <td>.unwarn: <span class="desc">Unwarn a user in the server</span>.</td>
  </tr>
        <tr>    <td>.warns: <span class="desc">Get all warns in the server or from a user</span>.</td>
  </tr>
</table>    
      </div>
      <!-- ------------------------------------- -->
      <div id="Music" class="tabcontent text-center text-white">
        <table class="text-center table1 card-server" style="margin-bottom: 2pc;">
  <tr>
    <th class="th1" style="font-size: 25px;" colspan="2">Music</th>
  </tr>
  <tr>
    <td>.skip: <span class="desc">Skips to the next song</span>.</td>
    <td>.play: <span class="desc">Plays a youtube song or playlist</span>.</td>
  </tr>
  <tr>
    <td>.queue: <span class="desc">Shows the music queue</span>.</td>
    <td>.stop: <span class="desc">Stops the music and leave the voice channel</span>.</td>
  </tr>
  <tr>
    <td>.np: <span class="desc">Shows what is playing now</span>.</td>
    <td>.pause: <span class="desc">Stops the song for short time</span>.</td>
  </tr>
  <tr>
    <td>.loop: <span class="desc">Repeats the song that is playing now</span>.</td>
    <td>.resume: <span class="desc">Continue playing from when songs got paused</span>.</td>
  </tr>
  <tr>
    <td>.cq: <span class="desc">Clears all the queue</span>.</td>
    <td>.volume: <span class="desc">Changes the volume of the songs</span>.</td>
  </tr>
</table>    
      </div>
      <!-- ------------------------------------- -->
     <div id="Economy" class="tabcontent text-center text-white">
        <table class="text-center table1 card-server" style="margin-bottom: 2pc;">
  <tr>
    <th class="th1" style="font-size: 25px;">Economy</th>
  </tr>
  <tr>
    <td>.coins: <span class="desc">Show how much coins you have</span>.</td>
  </tr>
  <tr>
    <td>.claim: <span class="desc">Collect your daily gift</span>.</td>
  </tr>
  <tr>
    <td>.pay: <span class="desc">Pay a user a certain amount of coins</span>.</td>
  </tr>
   <tr>
    <td>.top: <span class="desc">View the leaderboard across the bot</span>.</td>
  </tr>
        <tr>
        <td>.rep: <span class="desc">Give a reputation point to a certain user.</span>.</td>
        </tr>
</table>
      </div>
         ------------------------------------- 
     <div id="Settings" class="tabcontent text-center text-white">
        <table class="text-center table1 card-server" style="margin-bottom: 2pc;">
  <tr>
    <th class="th1" style="font-size: 25px;">Configure</th>
  </tr>
  <tr>
    <td>.create-aliase: <span class="desc">Add aliases to a specfic command</span>.</td>
    <td>.remove-aliase: <span class="desc">Remove aliases to a specfic command</span>.</td>
  </tr>
  <tr>
    <td>.disable: <span class="desc">Disable a specific command/channdl from the channel or from the mentionned channel</span>.</td>
    <td>.enable: <span class="desc">Enable a specific command/channdl from the channel or from the mentionned channel</span>.</td>
  </tr>
   <tr>
    <td>.settings: <span class="desc">Get the protection settings saved in the database</span>.</td>
    <td>.set-prefix: <span class="desc">Shows the server prefix or change it</span>.</td>
  </tr>
</table>
      </div>
     <div id="Giveaway" class="tabcontent text-center text-white">
      <table class="text-center table1" style="margin-bottom: 2pc;">
  <tr><th class="th1" style="font-size: 25px;" colspan="2">Giveaways</th></tr>
  <tr>
    <td>.gstart: <span class="desc">Creates a giveaway</span>.</td>
  </tr>
   <tr>
     <td>.greroll: <span class="desc">Rerolls a new winner</span>.</td>
  </tr>
  <tr>
    <td>.gend: <span class="desc">Ends a running giveaway</span>.</td>
  </tr>
</table>    
 <!--
      <table class="text-center table1" style="margin-bottom: 2pc;">
  <tr>
    <th class="th1" style="font-size: 25px;" colspan="2">Protection (Prime only)</th>
  </tr>
  <tr>
    <td>.settings: <span class="desc">View and edit protection configuration</span>.</td>
  </tr>
   <tr>
     <td>.settings config: <span class="desc">View and edit server configuration</span>.</td>
  </tr>
</table>    
      <table class="text-center table1" style="margin-bottom: 2pc;">
  <tr>
    <th class="th1" style="font-size: 25px;" colspan="2">Reaction Roles</th>
  </tr>
  <tr>
    <td>.rr-add: <span class="desc">Make a new reaction role</span>.</td>
  </tr>
   <tr>
     <td>.rr-remove: <span class="desc">Delete an existing reaction role</span>.</td>
  </tr>
        <tr>
     <td>.rr-list: <span class="desc">Get a list of all server reaction roles</span>.</td>
  </tr>
</table>    
      <table class="text-center table1">
  <tr>
    <th class="th1" style="font-size: 25px;" colspan="2">Custom Replies</th>
  </tr>
  <tr>
    <td>.reply-add: <span class="desc">Make a new custom reply</span>.</td>
  </tr>
   <tr>
     <td>.reply-remove: <span class="desc">Delete an existing custom reply</span>.</td>
  </tr>
        <tr>
     <td>.reply-list: <span class="desc">Get a list of all server custom replies</span>.</td>
  </tr>
</table>    
-->
    </div>
  </div>
</div>
</section>

<br>
<footer class="footer">All copyrights are reserved to <span style="color: #AB8700">Ezex Bot</span>©</footer>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".table1 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
 </body>


  <script>

   function openCity(evt, cityName) {
     // Declare all variables
     var i, tabcontent, tablinks;
   
     // Get all elements with class="tabcontent" and hide them
     tabcontent = document.getElementsByClassName("tabcontent");
     for (i = 0; i < tabcontent.length; i++) {
       tabcontent[i].style.display = "none";
     }
   
     // Get all elements with class="tablinks" and remove the class "active"
     tablinks = document.getElementsByClassName("tablinks");
     for (i = 0; i < tablinks.length; i++) {
       tablinks[i].className = tablinks[i].className.replace(" active", "");
     }
   
     // Show the current tab, and add an "active" class to the link that opened the tab
     document.getElementById(cityName).style.display = "block";
     evt.currentTarget.className += " active";
   }
   </script>
</html>
